<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Table</title>
    <link href="../static/css/input.css" rel="stylesheet" th:href="@{/css/input.css}"/>

</head>
<body>
<form action="/users/addUser" method="post">
    <fieldset>
        <label class="control-label" for="login">login</label>
        <input autofocus="autofocus" class="form-control" id="login"
               maxlength="20"
               name="login"
               required="true" th:value="${#httpServletRequest.getParameter('login')}" type="text"/>
    </fieldset>
    <br>
    <fieldset>
        <label class="control-label" for="password">password</label>
        <input autofocus="autofocus" class="form-control" id="password"
               maxlength="20"
               name="password"
               required="true" th:value="${#httpServletRequest.getParameter('password')}" type="text"/>
    </fieldset>
    <br>
    <button class="btn btn-default" id="submit" type="submit">Create user</button>
</form>
</body>

</html>