<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />

</head>
<body>
    <div th:switch="${#lists.size(users)}" >
        <h2 th:case="0">No users yet!</h2>
        <div th:case="*">
            <table>
                <caption>Users</caption>
                <thead>
                <tr>
                    <th scope="col">User_Id</th>
                    <th scope="col">Login</th>
                    <th scope="col">Password</th>
                    <th scope="col">Bots</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.login}"></td>
                    <td th:text="${user.password}"></td>
                    <td>
                        <div th:switch="${#lists.size(user.botList)}">
                            <h2 th:case="0">No bots yet!</h2>
                            <div class="inner2" th:case="*">
                                    <div th:each="bot: ${user.botList}">
                                        <div class="inner2" th:text="'id: ' + ${bot.id}"></div>
                                        <div class="inner2" th:text="'token: ' + ${bot.token}"></div>
                                        <div class="inner2" th:text="'mode: ' + ${bot.mode}"></div>
                                        <div class="inner2" th:text="'mood: ' + ${bot.mood}"></div>
                                        <div class="inner2" th:text="'status: ' + ${bot.status}"></div>
                                        <div class="inner2" ><button class="button-one"><a th:href="@{/bots/delete/{id}(id=${bot.id})}">Delete bot</a></button></div>
                                        <br>
                                    </div>
                            </div>
                            <br>
                            <div class="inner2">
                                <form th:action="@{/bots/addBot/{userId}(userId=${user.id})}" method="post">
                                    <button class="button-one" id="submit" type="submit">
                                        Add a new bot to user
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>

                    <td><button class="button-one"><a th:href="@{/users/delete/{id}(id=${user.id})}">Delete user</a></button></td>
                </tr>
                </tbody>
            </table>
        </div>

        <p>
            <button class="button-one">
                <a href="/users/addUser">Add a new user</a>
            </button>
        </p>
    </div>

</body>
</html>